@import 'index.scss';

.my-details-container{
  max-width: 50vw !important;
  // margin: 0 auto !important;
  

  & .my-details-card {
    margin: 2rem;
    margin-left: 0;
    display: flex;
    flex-direction: column;

    & .my-details-grid{
      display: flex;
      justify-content: center;
      margin: 1rem;

      & .avatar {
        width: 15rem !important;
        height: 15rem !important;
        font-size: 8rem !important;
        background-color: var(--osweb-color-primary) !important;
      }

      & .api-key-function-buttons-list-item {
        display: none !important;
      }
      & .hide-api-key-function-button{
        display: none !important;
      }
      
      & .my-details-list {

        & .my-details-item {
          margin-left: 8px !important;
          font-size: 20px;
        }
        & .full-api-key{
          padding: 0.5em;
          word-break:break-all;
        }
        & .hide-api-key{
          display: none;
        }

        & .inline-api-key-button {
          &:hover {
            background-color: #fff !important;
          }
          
          & .api-key-icon {
            color: var(--osweb-color-primary);
          
            &:hover {
              color: #FF5F00 !important;
            }
          }
        }
        & .hide-inline-button{
          visibility: hidden;
          display: none;
        }

        & .refresh-api-key-button{
          padding: 15px;
          margin-bottom: 10px;
        }
        & .disabled-refresh-button{
          background-color: grey !important;
          color: white !important;
          cursor: not-allowed !important;

          .btn-icon{
            display: none !important;
          }
        }
      }
    }
  }
}


// for mobile screens 
@media (max-width: $breakpoint-mobile) {
  
  .my-details-container{
    max-width: 100vw !important;

    & .my-details-card {
      display: flex;
      margin: auto;
      margin-top: 2em;

      & .my-details-grid{
        & .avatar {
          width: 12rem !important;
          height: 12rem !important;
          font-size: 5rem !important;
          margin-top: 1rem;
        }
        & .api-key-function-buttons-list-item{
          display: flex !important;

          & .api-key-function-buttons {
            padding: 15px;
          }
        }
        & .hide-api-key-function-button{
          display: none !important;
        }
        & .my-details-list {

          & .my-details-item {
            font-size: 18px;
          }
          & h4 {
            font-size: 20px;
          }
          & .inline-api-key-button {
            display: none !important;
          }
        }
      }
    }
  }
}
