// Media query 1250px
@media (max-width: 1250px) {
  #processing {
    width: 100% !important;
  }

  #completed {
    width: 100% !important;
  }
}

.dropzone {
  transition: border 0.3s ease-in-out;
  &:hover {
    border: 1px dashed var(--osweb-color-secondary)!important;
  }
}
