.stac-table {
  &-item {
    &-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      box-sizing: border-box;
      height: 3em;
      padding: 1em;
      cursor: pointer;
      border-bottom: 1px solid var(--osweb-color-secondary)60;

      &:hover {
        background-color: var(--osweb-color-secondary)39;
        color: rgb(0, 0, 0);
      }

      &-selected {
        background-color: var(--osweb-color-secondary);
        & h6 {
          color: white;
        }
      }
    }
  }


  &-asset-row {

    &:hover {
      background-color: var(--osweb-color-secondary)39;
      color: rgb(0, 0, 0);
    }
  }
}
