@import 'index.scss';
@import "leaflet/dist/leaflet.css";
@import "leaflet-draw/dist/leaflet.draw.css";

.leaflet-container {
  height: 100%;
  width: 100%;
  position:relative;
}

.date-picker {
  margin: 1em!important;

  & svg {
    color: #666666;
  }
}

@media(max-width: $breakpoint-mobile){
  .leaflet-container {
    position:absolute;
    max-height: 50vh !important;
    overflow:hidden;
  }
}

