@import 'index.scss';

.uploader {
  &-dash {
    padding: 1.5rem;
    display: flex;
    flex-direction: row !important;
    align-items: stretch;
    min-height: 20em;
    flex-wrap: nowrap;
  }

  &-left {
    width: 25%;
    height: auto;
    margin-right: 5%;
  }

  &-file {
    padding-left: 5%;
    width: 100%;
    height: 3em;
    margin-right: 5%;
    border-bottom: solid 1px rgba(128, 128, 128, 0.159);
    display: flex;
    align-items: center;

    &-name {
      font-weight: bold;
      color: #3690ed;
    }
  }

  &-right {
    width: 70%;
    height: auto;
  }
}


.uploady {
  &__dropzone {
    height: 5em;
    border: 1px dashed #ccc;
  }
}


.local-load-card {
  padding: 1.5em !important;
  display: flex;
  flex-direction: column;

  &-box__select-folder {

    margin-top: 2em;

    &-upload {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  &-box__create-metadata{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 450px;
    align-items: center;
    justify-content: space-between;
  }
}

.publish-all-mobile-button{
  display: none !important;
}

.error-files-box {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  height: 250px;
  max-width: 1000px;

  &__scroll{
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    border: 1px dotted #ccc;
    padding-top: 0.5em;
  }
}

.error-files-box-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  box-sizing: border-box;
  height: 1.5em;
}

// custom media query width for moving Publish all button
@media(max-width: 850px){
  .local-load-card-box__create-metadata{
    justify-content: normal !important;

    & button{
      margin: 0 1.5rem;
    }
  }
}

@media(max-width: $breakpoint-mobile){
  .local-load-card-box__create-metadata{
    & button{
      display: none;
    }
  }
  .publish-all-mobile-button{
    display: flex !important;
    max-width: 12em !important;
    padding: 1.5em !important;
    margin-bottom: 1em;
  }
}
