@import 'index.scss';

.MuiTableContainer-root {
  margin-top: 1.2em;
}

.MuiTableHead {
  &-root {
    display: table-header-group !important;
    background-color: gray !important;
  }

  &-custom-button {
    color: white !important;
  }
}

.muiTableHeadCell div {
  align-items: flex-end !important;
}

.table {
  &-toolbar {
    background-color: transparent !important;
    &-buttons {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 1em;
    }

    &-button {
      color: white !important;
      margin-right: 1em !important;
    }
  }
  &-icon {
    margin-right: 0.5em;
  }
}

table {
  border-radius: 10px;
}

tbody {
  background-color: white;
}

// Temporary
.css-i4bv87-MuiSvgIcon-root {
  color: white;
}
.css-1cjiko4 {
  background-color: #D40058;
  border-radius: 10px;
  padding: 0 0.5em;
}

// centralising the toolbar on mobile screens
@media(max-width: $breakpoint-mobile){
  .table-toolbar{
    padding-left: 0 !important;
  }
  .css-sq9qdz{
    justify-content: center !important;
  }
}
